<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addParam()">Add row</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td>ID</td>
    <td>名称(eg: 订单号)</td>
    <td>参数名称(eg: orderId)</td>
    <td>描述(eg: 状态或枚举的定义)</td>
    <td>类型</td>
    <td>格式</td>
    <td>数组</td>
    <td>默认值</td>
    <td>操作</td>
  </tr>
  <tr ng-repeat="funcParam in functionVo.functionParams" class="editable-row">
    <td>
        {{funcParam.id}}
    </td>
    <td>
        <span editable-text="funcParam.name" e-name="name" e-form="rowform" e-required>
          {{ funcParam.name || '' }}
        </span>
    </td>
      <td>
        <span editable-text="funcParam.paramName" e-name="paramName" e-form="rowform" e-required>
          {{ funcParam.paramName || '' }}
        </span>
      </td>
    <td>
        <span editable-text="funcParam.description" e-name="description" e-form="rowform" e-required>
          {{ funcParam.description || '' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="funcParam.type" e-name="type" e-form="rowform" e-selectpicker
              e-ng-options="s.value as s.text for s in paramTypes">
          {{ showParamTypes(funcParam) }}
        </span>
    </td>
    <td>
        <span editable-text="funcParam.format" e-name="description" e-form="rowform">
          {{ funcParam.format || '' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="funcParam.array" e-name="array" e-form="rowform" e-selectpicker
              e-ng-options="s.value as s.text for s in arrays">
          {{ showIsArray(funcParam) }}
        </span>
    </td>
    <td>
        <span editable-text="funcParam.defaultValue" e-name="description" e-form="rowform">
          {{ funcParam.defaultValue || '' }}
        </span>
    </td>
    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == funcParam">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeParam($index)">Delete</button>
      </div>
    </td>
  </tr>
</table>
