<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  (C) Copyright 2016 Ymatou (http://www.ymatou.com/).
  ~  All rights reserved.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymatou.restkeeper.dao.mapper.FunctionMapper">

	<resultMap id="Result" type="com.ymatou.restkeeper.model.pojo.Function">
		<id property="id" column="function_id" />
		<result property="applicationId" column="application_id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="url" column="url" />
		<result property="httpMethod" column="http_method" />
		<result property="contentType" column="content_type" />
		<result property="author" column="author" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<sql id="columns">
		f.function_id as id,f.application_id as applicationId,
		f.name,f.description,f.url,f.http_method as httpMethod,
		f.content_type as contentType,f.author,f.status,
		f.create_time as createTime,f.update_time as updateTime
	</sql>
	
	<sql id="dynamicWhere">
		<where>
			<if test="function.id !=null "> AND f.function_id = #{function.id} </if>
			<if test="function.name !=null "> AND f.name like CONCAT('%',#{function.name},'%' ) </if>
			<if test="function.applicationId !=null "> AND f.application_id = #{function.applicationId} </if>
			<if test="function.description !=null and function.description != '' "> AND f.description = #{function.description} </if>
			<if test="function.url !=null and function.url != '' "> AND f.url like CONCAT('%',#{function.url},'%' ) </if>
			<if test="function.httpMethod !=null and function.httpMethod != ''"> AND f.http_method = #{function.httpMethod} </if>
			<if test="function.contentType !=null and function.contentType != ''"> AND f.content_type = #{function.contentType} </if>
			<if test="function.author !=null and function.author != ''"> AND f.author like CONCAT('%',#{function.author},'%' ) </if>
			<if test="function.status !=null and function.status != ''"> AND f.status = #{function.status} </if>
			<if test="function.createTime !=null "> AND f.create_time = #{function.createTime} </if>
			<if test="function.updateTime !=null "> AND f.update_time = #{function.updateTime} </if>
		</where>
	</sql>


    <select id="findByFunction" resultMap="Result">
        SELECT <include refid="columns"/>
        FROM function f
        <include refid="dynamicWhere"/>
    </select>

	<select id="findByFunctionVo" resultType="com.ymatou.restkeeper.model.vo.FunctionVo">
		SELECT <include refid="columns"/>,a.name as appName
		FROM function f left JOIN  application a on a.application_id = f.application_id
		<include refid="dynamicWhere"/>
	</select>

</mapper>
