<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  (C) Copyright 2016 Ymatou (http://www.ymatou.com/).
  ~  All rights reserved.
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymatou.restkeeper.dao.mapper.OperationLogMapper">

	<resultMap id="Result" type="com.ymatou.restkeeper.model.pojo.OperationLog">
		<id property="id" column="log_id" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="functionId" column="function_id" />
		<result property="applicationId" column="application_id" />
		<result property="request" column="request" />
		<result property="response" column="response" />
		<result property="status" column="status"/>
		<result property="operateTime" column="operate_time" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<sql id="columns">
		o.log_id as id, o.user_id as userId,o.user_name as userName,o.function_id as functionId,
		o.application_id as applicationId,o.operate_time as operateTime,o.request as request,
		o.response as response,o.status as status, o.create_time as createTime,o.update_time as updateTime
	</sql>
	
	<sql id="dynamicWhere">
		<where>
			<if test="operationLog.id !=null "> AND log_id = #{operationLog.id} </if>
			<if test="operationLog.userId !=null "> AND user_id = #{operationLog.userId} </if>
			<if test="operationLog.userName !=null "> AND user_name = #{operationLog.userName} </if>
			<if test="operationLog.functionId !=null "> AND function_id = #{operationLog.functionId} </if>
			<if test="operationLog.applicationId !=null "> AND application_id = #{operationLog.applicationId} </if>
			<if test="operationLog.request !=null "> AND request = #{operationLog.request} </if>
			<if test="operationLog.response !=null "> AND response = #{operationLog.response} </if>
			<if test="operationLog.status !=null "> AND status = #{operationLog.status} </if>
			<if test="operationLog.operateTime !=null "> AND operate_time = #{operationLog.operateTime} </if>
			<if test="operationLog.createTime !=null "> AND create_time = #{operationLog.createTime} </if>
			<if test="operationLog.updateTime !=null "> AND update_time = #{operationLog.updateTime} </if>
		</where>
	</sql>


    <select id="findByOperationLogVo" resultType="com.ymatou.restkeeper.model.vo.OperationLogVo">
        SELECT <include refid="columns"/>, a.name as appName, f.name as functionName
		FROM operation_log o left join function f on o.function_id = f.function_id
		left join application a on a.application_id = a.application_id
        <include refid="dynamicWhere"/>
    </select>


</mapper>
